.book-cards {
    width: 100%;
    
    ul {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0;
      margin: 0;
      text-decoration: none;
    }

    li {
      list-style: none;
      width: 100%;
    }
}